@media print {
  .paper {
    width: 100% !important;
  }
  .print-icon {
    display: none;
  }
}

.resume {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background: #f1f1f1;
  color: #000000;
  font-size: 0.95em;
  width: 100%;

  .paper {
    width: 216mm;
    padding: 1rem 0;
    display: block;
    margin: 0 auto;
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2),
      0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 3px 1px -2px rgba(0, 0, 0, 0.12);
    background: #fff;
  }

  .container {
    padding: 0.5em;
  }

  .print-icon {
    position: fixed;
    right: 10px;
    bottom: 10px;
    width: 60px;
    cursor: pointer;
  }

  a.tel,
  a.email {
    color: rgba(0, 0, 0, 0.8);
  }

  #leftSection {
    width: 30%;
    text-align: center;
    display: inline-block;
  }

  #rightSection {
    width: 70%;
    vertical-align: top;
    display: inline-block;
  }

  .avatar {
    width: 110px;
    border-radius: 110px;
  }

  .bold {
    font-weight: bold;
  }

  .primary-text {
    font-weight: 500;
  }

  .list-unstyled {
    margin: 1rem 0;
    list-style: none;
    padding-left: 1rem;
  }
}
