html {
  position: relative;
  min-height: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
}
body {
  overflow-x: hidden;
  position: relative;
  min-height: 100%;
  height: auto;
  padding: 0;
  margin: 0;
  font-family: "Montserrat", Arial, sans-serif;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: url(../img/bg.gif) no-repeat left bottom;
  background-color: #4e4394;
}

.logo {
  max-width: 170px;
  border-radius: 50%;
  fill: #fff;
}

.content {
  width: 95%;
  text-align: center;
  color: #fff;
}

p {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 20px;
  padding: 1em;
}

footer {
  position: absolute;
  width: 100%;
  bottom: 0;
}

.links {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
}

.links li {
  display: inline-block;
  margin: 5px;
}

.links a {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 30px;
  height: 30px;
  padding: 8px;

  text-decoration: none;
  color: #fff;
  border: 1px solid;
  border-radius: 50%;
  transition: opacity 0.235s ease-in-out;
}

.links a:hover {
  opacity: 0.5;
}

.links i {
  font-size: 22px;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .content {
    width: 50%;
  }
  footer {
    padding-bottom: 12px;
  }
}
